body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eeeeee;
  transition: background-color 0.5s ease;
}
#chat-container {
  width: 90%;
  max-width: 500px;
  height: 85%;
  max-height: 700px;
  border: 1px solid #5A5A5A;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: background-color 0.5s ease, border-color 0.5s ease;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: #ffffff00;
  scrollbar-face-color: #ffffff00;
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

#chat-container::-webkit-scrollbar {
  display: none;
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

#send-button:disabled {
  background-color: #646464 !important;
  color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#chat-header {
  font-family: 'Avenir Next', 'Avenir', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #5A5A5A;
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  z-index: 7;
  transition: background-color 0.5s ease;
}

#chat-header .header-text {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin: 0 0 0 6px;
}

#chat-header .header-left {
  display: flex;
  align-items: center;
}

#chat-header .header-right {
  display: flex;
  gap: 10px;
}

#chat-header button {
  font-family: 'Avenir Next', 'Avenir', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fdfdfd;
  border-radius: 20px;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  transition: background-color 0.5s ease;
}
#chat-window {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #5A5A5A;
  display: flex;
  flex-direction: column;
}

#chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}


.message {
  margin: 6px 0;
}

.user-message {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  max-width: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 2px;
  transition: background-color 0.5s ease;
}

.cat-message {
  align-self: flex-start;
  background-color: #e9ecef;
  color: #000;
  padding: 5px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 2px;
  max-width: 80%;
}

#chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #5A5A5A;
  background-color: #f9f9f9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  caret-color: #007bff;
}
#chat-input :focus {
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  border: 3px solid #007bff;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #5A5A5A;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 2px;
  height: 22px;
  font-size: 20px;
}

#send-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
}

#send-button:focus,
#send-button:active {
  outline: none;
  padding-left: 17px;
  padding-right: 17px;
}



@media (max-width: 600px) {
  #chat-container {
    width: 98%;
  }

  #chat-header h1 {
    font-size: 18px;
  }
  #send-button {
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  #chat-header button {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2c2c2c;
  }

  #chat-container {
    background-color: #333;
    border-color: #555;
  }

  #chat-header {
    color: #fff;
  }
  
  #chat-header .header-text {
    color: #fff;
  }

  .user-message {
    background-color: #1a73e8;
  }

  .cat-message {
    background-color: #555;
    color: #fff;
  }

  #chat-input {
    background-color: #444;
    caret-color: #1a73e8;
  }
  
  #chat-input :focus {
    border: 3px solid #1a73e8;
  }

  #user-input {
    background-color: #555;
    color: #fff;
    border-color: #666;
  }

  #send-button {
    background-color: #1a73e8;
  }
}

body.green-mode #chat-header {
  background-color: #28a745;
}

body.green-mode .user-message {
  background-color: #28a745;
}

body.green-mode #send-button {
  background-color: #28a745;
}

body.green-mode #chat-header button {
  color: #28a745;
}
body.green-mode #chat-input :focus {
  border: 3px solid #28a745;
}
body.green-mode #chat-input {
  caret-color: #28a745;
}

.dropdown {
  position: relative;
  display: flexbox;
  text-align: center;
  }
  
  .dropdown-content {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  background: linear-gradient(45deg, #df6d6d, #77a6b4);
  animation: headerAnimation 5s infinite;
  background-size: 200% 200%;
  text-align: center;
  border-radius: 5px;
  display: none;
  position: absolute;
  animation: fadeIn 0.75s;
  padding: 4px;
  min-width: 157px;
  z-index: 8;
  }
  @font-face {
    font-family: 'Avenir Next';
    src: url('/Avenir\ Next.ttc') format('truetype collection');
}
  header {
    font-family: 'Avenir Next', 'Avenir', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(45deg, #df6d6d, #77a6b4);
    animation: headerAnimation 10s infinite;
    background-size: 400% 400%;
  }
  header > nav > ul > li > a {
    animation: fadeIn 0.75s;
  }
  footer > p {
    animation: fadeIn 0.75s;
  }
  
  footer {
    color: #fff;
    background: linear-gradient(45deg, #363636, #777777);
    animation: footerAnimation 10s infinite;
    background-size: 400% 400%;
  }

  @keyframes headerAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  @keyframes footerAnimation {
    0% { background-position: 100% 50%; }
    50% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.dropdown-content a {
color: #fff;
text-decoration: none;
display: flex;
padding: 4px;
text-align: center;
}
.dropdown-content a:hover {
    background-color: #00000074;
    border-radius: 5px;
    text-align: center;
}
.dropdown:hover .dropdown-content {
display: block;
text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #77a6b4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    font-family: 'Avenir Next', 'Avenir', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  height: 22px;
  padding: 10px;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

header nav ul  a {
  margin-right: 20px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}