@font-face {
    font-family: 'Tenor Sans';
    src: url('/TenorSans-Regular.ttf') format('truetype');
}
body {
    font-family: 'Tenor Sans', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #df6d6d;
    text-decoration: none;
}
html {
    scroll-behavior: smooth !important;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #df6d6d;
}
p {
    font-size: 18px;
}
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
}

header nav ul  a {
    margin-right: 20px;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

main {
    text-align: center;
    padding: 80px 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.table {
    text-align: justify;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    border-collapse: collapse;
    margin: 10px auto;
    font-size: 20px;
    min-width: 300px;
}
.table th, .table td {
    padding: 4px 10px;
}
tr {
    border-bottom: 1px solid #FFFFFF;
}

.dropdown {
position: relative;
display: flexbox;
text-align: center;
}

.dropdown-content {
text-align: center;
border-radius: 5px;
display: none;
position: absolute;
background-color: #77a6b4;
padding: 4px;
min-width: 161px;
z-index: 3;
}

.dropdown-content a {
color: #fff;
text-decoration: none;
display: flex;
padding: 4px;
text-align: center;
}
#logo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.dropdown-content a:hover {
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
}
.dropdown:hover .dropdown-content {
display: block;
text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #77a6b4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
}
.background-animation {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.background-animation canvas {
display: block;
position: fixed;
top: 0;
left: 0;
pointer-events: none;
}


body {
    display: flex;
    flex-direction: column;

}

main {
    flex: 1;
}
