body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #df6d6d;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

main {
    text-align: center;
    padding: 80px 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #77a6b4;
padding: 10px;
min-width: 200px;
z-index: 3;
}

.dropdown-content a {
color: #fff;
text-decoration: none;
display: block;
padding: 10px;
}

.dropdown:hover .dropdown-content {
display: block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    background-color: #77a6b4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Background Animation Styles */
.background-animation {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

.background-animation canvas {
display: block;
position: fixed;
top: 0;
left: 0;
pointer-events: none;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
logo {
    position: relative;
    z-index: 1;
}
